{% extends "base.html" %} {% import "bootstrap/form.html" as wtf %} {% block
content %}

<div class="container mb-5">
  <div class="card mt-5">
    <div class="d-flex flex-column flex-sm-row text-center border-bottom mt-1 mb-4">
      <h1 class="mx-auto">{{heading}}</h4>
    </div>

    <!-- flashes any messages to the user -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <!-- check if there are any messages -->
    <div class="container">
      <div class="row mt-3 mb-3">
        <div class="col-6 mx-auto">
          {% for message in messages %}
          <!--loop through the messages-->
          <div>
            <p class="alert alert-info text-center px-3">{{ message }}</p>
          </div>
          <!--display as alert-->
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %} {% endwith %}

    <!-- Form rendering is simple and easy if using bootstrap -->
    <div class="col-md-6 m-auto">{{wtf.render_form(form)}}</div>

    <!-- When you have login form, then do show the user a link to register -->
    {% if heading|lower =='login' %}
    <div class="col-md-4 mb-4 mt-1 mx-auto text-center">
      <p>
        New user?
        <a href="{{ url_for('auth.register') }}">Click here to register</a>.
      </p>
    </div>
    {% endif %} {% if heading|lower =='register' %}
    <div class="mb-4"><p></p></div>
    {% endif %}
  </div>
</div>
{% endblock %}
